* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    background-color: #ccc;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.contenedor-principal {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

.contenedor-formulario{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contenedor-formulario button {
    align-self: center;
    cursor: pointer;
    padding: 1rem;
    background-color: rgb(30, 30, 176);
    color: #fff;
    border: none;
    font-weight: bold;
}

.contenedor-formulario button:hover,  .btn-eliminar:hover{
    scale: 1.1;
}

/* Contendor comentarios */
.wrapper-comentarios {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 1rem;
}

.wrapper-comentarios div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: #fff;
}

.wrapper-comentarios .btn-eliminar{
    align-self: flex-end;
    padding: 1rem;
    cursor: pointer;
    background-color: rgb(180, 22, 22);
    font-weight: bold;
    color: #fff;
    border: none;
}